entrypoint = "server/index.ts"
modules = ["nodejs-20", "web", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["chromium"]

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33723
externalPort = 3002

[[ports]]
localPort = 37807
externalPort = 3001

[[ports]]
localPort = 39963
externalPort = 3003

[[ports]]
localPort = 43353
externalPort = 3000

[env]
NODE_ENV = "production"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[languages.css]
pattern = "**/{*.css}"

[languages.css.languageServer]
start = "vscode-css-language-server --stdio"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[unitTest]
language = "nodejs"

[debugger]
support = true

[debugger.interactive]
transport = "localhost:0"
startCommand = ["dap-node"]

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.initializeMessage.arguments]
clientID = "replit"
clientName = "replit.com"
columnsStartAt1 = true
linesStartAt1 = true
locale = "en-us"
pathFormat = "path"
supportsInvalidatedEvent = true
supportsProgressReporting = true
supportsRunInTerminalRequest = true
supportsVariablePaging = true
supportsVariableType = true

[debugger.interactive.launchMessage]
command = "launch"
type = "request"

[debugger.interactive.launchMessage.arguments]
console = "externalTerminal"
cwd = "."
pauseForSourceMap = false
program = "./server/index.ts"
request = "launch"
sourceMaps = true
stopOnEntry = false
type = "node"

[workflows]

[[workflows.workflow]]
name = "Start Dev Server"
mode = "sequential"
author = 47096868

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
