{
  "swagger": "2.0",
  "info": {
    "title": "Constellation MCP",
    "description": "Model Context Protocol endpoints for Constellation consulting delivery platform. Read endpoints at /mcp/* provide tenant-scoped access to projects, assignments, time entries, expenses, RAIDD, financials, and CRM data. Write endpoints at /mcp/v1/* (Phase 0 \u2014 Phases 0\u20135: clients, estimates, HubSpot linkage, Teams linkage) are gated by the MCP_WRITES_ENABLED feature flag and require an X-Idempotency-Key header.",
    "version": "1.2.0"
  },
  "host": "constellation.synozur.com",
  "basePath": "/mcp",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "GetMyProfile",
        "summary": "Get my Constellation profile",
        "description": "Returns the authenticated user's profile including role, tenant, and platform role. No special role required.",
        "responses": {
          "200": {
            "description": "User profile",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "platformRole": {
                      "type": "string"
                    },
                    "tenantId": {
                      "type": "string"
                    },
                    "tenantName": {
                      "type": "string"
                    },
                    "tenantSlug": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assignments": {
      "get": {
        "operationId": "GetAssignments",
        "summary": "Get assignments",
        "description": "Returns project assignments for the authenticated user (or another user if the caller has manager-level permissions). Supports date range filtering.",
        "parameters": [
          {
            "name": "assigneeId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "User ID to retrieve assignments for. Defaults to the authenticated user. Requires manager role to view other users."
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date filter (ISO format YYYY-MM-DD). Returns assignments ending on or after this date."
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date filter (ISO format YYYY-MM-DD). Returns assignments starting on or before this date."
          }
        ],
        "responses": {
          "200": {
            "description": "List of assignments",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/time-entries": {
      "get": {
        "operationId": "GetTimeEntries",
        "summary": "Get time entries",
        "description": "Returns time entries for the authenticated user (or another user if the caller has manager-level permissions). Supports date range and status filtering.",
        "parameters": [
          {
            "name": "assigneeId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "User ID to retrieve time entries for. Defaults to the authenticated user."
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by status (e.g. Draft, Submitted, Approved)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of time entries",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/expenses/reports": {
      "get": {
        "operationId": "GetExpenseReports",
        "summary": "Get expense reports",
        "description": "Returns expense reports for the authenticated user (or another user if the caller has manager-level permissions). Supports status filtering.",
        "parameters": [
          {
            "name": "submitterId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "User ID to retrieve expense reports for. Defaults to the authenticated user."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by status (e.g. Draft, Submitted, Approved)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of expense reports",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "GetProjects",
        "summary": "Search and list projects",
        "description": "Returns projects in the user's tenant. Supports search by name/code/client, client filtering, and budget health filtering. Requires PM, Admin, Portfolio Manager, or Executive role.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Search by project name, code, or client name."
          },
          {
            "name": "clientId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by client ID."
          },
          {
            "name": "health",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by budget health status.",
            "enum": [
              "OnTrack",
              "AtRisk",
              "OverBudget"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "GetProjectById",
        "summary": "Get project details",
        "description": "Returns detailed information for a specific project including budget vs actual. Requires PM, Admin, Portfolio Manager, or Executive role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The project ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Project not found or not in user's tenant"
          }
        }
      }
    },
    "/projects/{projectId}/deliverables": {
      "get": {
        "operationId": "GetProjectDeliverables",
        "summary": "Get project deliverables",
        "description": "Returns deliverables for a project with optional status filtering. Requires PM, Admin, Portfolio Manager, or Executive role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The project ID."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by deliverable status.",
            "enum": [
              "NotStarted",
              "InProgress",
              "InReview",
              "Accepted",
              "Rejected"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of deliverables",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/raidd": {
      "get": {
        "operationId": "GetProjectRaidd",
        "summary": "Get project RAIDD entries",
        "description": "Returns Risks, Actions, Issues, Dependencies, and Decisions for a project. Supports filtering by type, status, and priority. Requires PM, Admin, Portfolio Manager, or Executive role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The project ID."
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by RAIDD type (e.g. Risk, Action, Issue, Dependency, Decision)."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by status (e.g. Open, Closed, Mitigated)."
          },
          {
            "name": "priority",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by priority (e.g. Critical, High, Medium, Low)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of RAIDD entries",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/status-report-data": {
      "get": {
        "operationId": "GetProjectStatusReportData",
        "summary": "Get aggregated status report data for a project",
        "description": "Returns aggregated project data suitable for generating or summarizing a status report: hours worked, expenses, team breakdown, RAIDD summary, milestones, deliverables, and resource allocations. Defaults to the last 14 days. Requires PM, Admin, Portfolio Manager, or Executive role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The project ID."
          },
          {
            "name": "startDate",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Period start date (ISO format YYYY-MM-DD). Defaults to 14 days ago."
          },
          {
            "name": "endDate",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Period end date (ISO format YYYY-MM-DD). Defaults to today."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated status report data",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "clientName": {
                          "type": "string"
                        }
                      }
                    },
                    "period": {
                      "type": "object",
                      "properties": {
                        "startDate": {
                          "type": "string"
                        },
                        "endDate": {
                          "type": "string"
                        }
                      }
                    },
                    "hours": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "billable": {
                          "type": "number"
                        },
                        "nonBillable": {
                          "type": "number"
                        }
                      }
                    },
                    "expenses": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "team": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "hours": {
                            "type": "number"
                          },
                          "topActivities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "raidd": {
                      "type": "object",
                      "properties": {
                        "openRisks": {
                          "type": "integer"
                        },
                        "openIssues": {
                          "type": "integer"
                        },
                        "openActions": {
                          "type": "integer"
                        },
                        "decisions": {
                          "type": "integer"
                        },
                        "criticalItems": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "milestones": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "deliverables": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "allocations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/m365-context": {
      "get": {
        "operationId": "GetProjectM365Context",
        "summary": "Get project Microsoft 365 context",
        "description": "Returns Teams and Planner integration info for a project. Requires PM, Admin, Portfolio Manager, or Executive role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The project ID."
          }
        ],
        "responses": {
          "200": {
            "description": "M365 context",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "projectName": {
                      "type": "string"
                    },
                    "teamId": {
                      "type": "string"
                    },
                    "teamName": {
                      "type": "string"
                    },
                    "plannerConnections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "planId": {
                            "type": "string"
                          },
                          "planTitle": {
                            "type": "string"
                          },
                          "planWebUrl": {
                            "type": "string"
                          },
                          "groupId": {
                            "type": "string"
                          },
                          "groupName": {
                            "type": "string"
                          },
                          "channelId": {
                            "type": "string"
                          },
                          "channelName": {
                            "type": "string"
                          },
                          "syncEnabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/raidd": {
      "get": {
        "operationId": "GetPortfolioRaidd",
        "summary": "Get portfolio RAIDD across all projects",
        "description": "Aggregates RAIDD entries across all projects in the user's tenant. Supports filtering by type, status, and priority. Requires Portfolio Manager, Admin, or Executive role.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by RAIDD type (e.g. Risk, Action, Issue, Dependency, Decision)."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by status (e.g. Open, Closed, Mitigated)."
          },
          {
            "name": "priority",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by priority (e.g. Critical, High, Medium, Low)."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated RAIDD entries with project context",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/timeline": {
      "get": {
        "operationId": "GetPortfolioTimeline",
        "summary": "Get portfolio timeline",
        "description": "Returns a timeline view of all projects in the user's tenant with start/end dates and status. Supports client and date filtering. Requires Portfolio Manager, Admin, or Executive role.",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by client ID."
          },
          {
            "name": "endingBefore",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Only show projects ending before this date (ISO format YYYY-MM-DD)."
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio timeline",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "projectId": {
                        "type": "string"
                      },
                      "projectName": {
                        "type": "string"
                      },
                      "projectCode": {
                        "type": "string"
                      },
                      "clientName": {
                        "type": "string"
                      },
                      "clientId": {
                        "type": "string"
                      },
                      "startDate": {
                        "type": "string"
                      },
                      "endDate": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "commercialScheme": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/financial/invoices": {
      "get": {
        "operationId": "GetInvoices",
        "summary": "Get invoices",
        "description": "Returns invoice batches for the user's tenant. Supports date range and client filtering. Requires Billing Admin, Admin, or Executive role.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "clientId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by client ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoice batches",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/financial/invoices/aggregate": {
      "get": {
        "operationId": "GetInvoiceAggregate",
        "summary": "Get invoice aggregate analytics",
        "description": "Aggregates invoice data by Month, Quarter, Client, or Project. Returns total amounts and counts. Requires Billing Admin, Admin, or Executive role.",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Group results by dimension. Defaults to Month.",
            "enum": [
              "Month",
              "Quarter",
              "Client",
              "Project"
            ]
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date filter (ISO format YYYY-MM-DD)."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated invoice analytics",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "totalAmount": {
                        "type": "number"
                      },
                      "invoiceCount": {
                        "type": "integer"
                      },
                      "lineCount": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "groupBy": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/crm/deals": {
      "get": {
        "operationId": "GetCrmDeals",
        "summary": "Get CRM deals from HubSpot",
        "description": "Returns HubSpot deals for the user's tenant. Supports search and stage filtering. Requires PM, Admin, or Executive role. Returns empty if HubSpot is not connected.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Search by deal name or description."
          },
          {
            "name": "stage",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by deal stage."
          }
        ],
        "responses": {
          "200": {
            "description": "List of CRM deals",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/crm/deals/{dealId}/linked-projects": {
      "get": {
        "operationId": "GetCrmDealLinkedProjects",
        "summary": "Get projects linked to a CRM deal",
        "description": "Returns Constellation projects linked to a specific HubSpot deal. Requires PM, Admin, or Executive role.",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The HubSpot deal ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of linked projects",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimates": {
      "get": {
        "operationId": "GetEstimates",
        "summary": "List estimates",
        "description": "Returns all estimates for the tenant. Supports filtering by status, client, project, estimate type, and text search. Requires PM, Admin, Portfolio Manager, Executive, or Billing Admin role.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Search by estimate name or client name."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by status: draft, final, approved, rejected."
          },
          {
            "name": "clientId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by client ID."
          },
          {
            "name": "projectId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by project ID."
          },
          {
            "name": "estimateType",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by estimate type: detailed, block, retainer, program."
          },
          {
            "name": "includeArchived",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Set to 'true' to include archived estimates. Defaults to false."
          }
        ],
        "responses": {
          "200": {
            "description": "List of estimates with summary fields",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "estimateType": {
                        "type": "string"
                      },
                      "pricingType": {
                        "type": "string"
                      },
                      "version": {
                        "type": "integer"
                      },
                      "clientId": {
                        "type": "string"
                      },
                      "clientName": {
                        "type": "string"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "projectName": {
                        "type": "string"
                      },
                      "totalHours": {
                        "type": "number"
                      },
                      "totalFees": {
                        "type": "number"
                      },
                      "presentedTotal": {
                        "type": "number"
                      },
                      "margin": {
                        "type": "number"
                      },
                      "netRevenue": {
                        "type": "number"
                      },
                      "estimateDate": {
                        "type": "string"
                      },
                      "validUntil": {
                        "type": "string"
                      },
                      "archived": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimates/{estimateId}": {
      "get": {
        "operationId": "GetEstimateDetail",
        "summary": "Get estimate detail",
        "description": "Returns full estimate detail including structure (epics, stages) and payment milestones. Requires PM, Admin, Portfolio Manager, Executive, or Billing Admin role.",
        "parameters": [
          {
            "name": "estimateId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The estimate ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Estimate detail with structure and milestones",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "estimateType": {
                      "type": "string"
                    },
                    "pricingType": {
                      "type": "string"
                    },
                    "totalHours": {
                      "type": "number"
                    },
                    "totalFees": {
                      "type": "number"
                    },
                    "presentedTotal": {
                      "type": "number"
                    },
                    "margin": {
                      "type": "number"
                    },
                    "netRevenue": {
                      "type": "number"
                    },
                    "blockHours": {
                      "type": "number"
                    },
                    "blockDollars": {
                      "type": "number"
                    },
                    "fixedPrice": {
                      "type": "number"
                    },
                    "structure": {
                      "type": "object",
                      "properties": {
                        "epics": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stages": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "milestones": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimates/{estimateId}/line-items": {
      "get": {
        "operationId": "GetEstimateLineItems",
        "summary": "Get estimate line items",
        "description": "Returns the detailed line item breakdown for an estimate \u2014 hours, rates, costs, roles, and margin per line. Supports filtering by epic or stage. Includes a summary with totals. Requires PM, Admin, Portfolio Manager, Executive, or Billing Admin role.",
        "parameters": [
          {
            "name": "estimateId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The estimate ID."
          },
          {
            "name": "epicId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter line items by epic ID."
          },
          {
            "name": "stageId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter line items by stage ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of line items with summary totals",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "epicName": {
                        "type": "string"
                      },
                      "stageName": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "roleName": {
                        "type": "string"
                      },
                      "assignedUserName": {
                        "type": "string"
                      },
                      "baseHours": {
                        "type": "number"
                      },
                      "adjustedHours": {
                        "type": "number"
                      },
                      "rate": {
                        "type": "number"
                      },
                      "costRate": {
                        "type": "number"
                      },
                      "totalAmount": {
                        "type": "number"
                      },
                      "totalCost": {
                        "type": "number"
                      },
                      "margin": {
                        "type": "number"
                      },
                      "marginPercent": {
                        "type": "number"
                      }
                    }
                  }
                },
                "summary": {
                  "type": "object",
                  "properties": {
                    "totalLineItems": {
                      "type": "integer"
                    },
                    "totalHours": {
                      "type": "number"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "totalCost": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/expenses": {
      "get": {
        "operationId": "GetExpenses",
        "summary": "Get individual expense items",
        "description": "Returns individual expense items (not grouped into reports). Supports filtering by person, project, date range, approval status, category, and billable flag. Includes a summary with totals broken down by category.",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "User ID to retrieve expenses for. Defaults to the authenticated user. Requires manager role to view other users."
          },
          {
            "name": "projectId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by project ID."
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by approval status: draft, submitted, approved, rejected, reimbursed."
          },
          {
            "name": "category",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by category: travel, hotel, meals, taxi, airfare, parking, entertainment, mileage, perdiem."
          },
          {
            "name": "billable",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by billable status: 'true' or 'false'."
          }
        ],
        "responses": {
          "200": {
            "description": "List of expense items with summary",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "vendor": {
                        "type": "string"
                      },
                      "billable": {
                        "type": "boolean"
                      },
                      "reimbursable": {
                        "type": "boolean"
                      },
                      "approvalStatus": {
                        "type": "string"
                      },
                      "projectName": {
                        "type": "string"
                      },
                      "clientName": {
                        "type": "string"
                      },
                      "personName": {
                        "type": "string"
                      }
                    }
                  }
                },
                "summary": {
                  "type": "object",
                  "properties": {
                    "totalItems": {
                      "type": "integer"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "byCategory": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reimbursements": {
      "get": {
        "operationId": "GetReimbursements",
        "summary": "Get reimbursement batches",
        "description": "Returns reimbursement batches. Regular users see only their own batches. Managers/admins can view all. Supports filtering by status, date range, and user.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by status: pending, under_review, processed."
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date filter (ISO format YYYY-MM-DD)."
          },
          {
            "name": "userId",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by user ID (manager role required to view other users)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of reimbursement batches",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "batchNumber": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "totalAmount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "requestedForUser": {
                        "type": "string"
                      },
                      "requester": {
                        "type": "string"
                      },
                      "paymentReferenceNumber": {
                        "type": "string"
                      },
                      "processedAt": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reimbursements/{batchId}": {
      "get": {
        "operationId": "GetReimbursementDetail",
        "summary": "Get reimbursement batch detail",
        "description": "Returns full detail for a reimbursement batch including all line items with their associated expense data. Regular users can only view their own batches.",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The reimbursement batch ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Reimbursement batch detail with line items",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "batchNumber": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "requestedForUser": {
                      "type": "string"
                    },
                    "paymentReferenceNumber": {
                      "type": "string"
                    },
                    "lineItems": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "reviewNote": {
                            "type": "string"
                          },
                          "expense": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              },
                              "category": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "description": {
                                "type": "string"
                              },
                              "vendor": {
                                "type": "string"
                              },
                              "projectName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "operationId": "SearchClients",
        "summary": "Search clients with linkage signals",
        "description": "Returns clients in the caller's tenant, filtered by optional case-insensitive name/shortName substring. Each result includes linkage signals (hasHubspotLink, hasTeamsLink, activeEstimateCount) so the Copilot agent can branch on whether the client is already wired up to HubSpot or Teams, and whether any active estimates exist.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Case-insensitive substring match on client name or shortName."
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Maximum results to return (1-100, default 25)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching clients",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "shortName": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "hasHubspotLink": {
                        "type": "boolean"
                      },
                      "hasTeamsLink": {
                        "type": "boolean"
                      },
                      "activeEstimateCount": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ping": {
      "post": {
        "operationId": "WritePing",
        "summary": "Write-stack smoke test",
        "description": "Round-trips a JSON body through the MCP write middleware (feature flag, idempotency, audit). Use to verify the connector is wired up for writes. Supports ?dryRun=true. Requires X-Idempotency-Key header.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, the endpoint validates and returns the would-be response but does NOT write to the audit log."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pong",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "pong": {
                      "type": "boolean"
                    },
                    "dryRun": {
                      "type": "boolean"
                    },
                    "at": {
                      "type": "string"
                    }
                  }
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/v1/clients": {
      "post": {
        "operationId": "CreateClient",
        "summary": "Create a client (with duplicate detection)",
        "description": "Creates a client in the caller's tenant. Performs a near-match scan against existing client names first \u2014 if any similar client is found, returns 409 with candidate records unless force=true is set in the body. Supports ?dryRun=true for conversational preview. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be client plus near-matches, but does not write to the database."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Client display name (required)."
                },
                "shortName": {
                  "type": "string",
                  "description": "Abbreviated name for display (e.g. 'MSFT' for Microsoft)."
                },
                "currency": {
                  "type": "string",
                  "description": "ISO 4217 currency code (default 'USD')."
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "active",
                    "inactive",
                    "archived"
                  ],
                  "description": "Initial status (default 'pending')."
                },
                "contactName": {
                  "type": "string"
                },
                "billingContact": {
                  "type": "string"
                },
                "force": {
                  "type": "boolean",
                  "description": "If true, bypasses near-match duplicate detection. Use only after confirming with the end user."
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Client created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                },
                "created": {
                  "type": "boolean"
                },
                "nearMatches": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "forced": {
                  "type": "boolean"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Near-match to existing client \u2014 confirm with user and retry with force=true",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "candidates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/estimates/from-narrative": {
      "post": {
        "operationId": "CreateEstimateFromNarrative",
        "summary": "Create estimate from project narrative (AI-generated)",
        "description": "Calls the AI service with the provided narrative and tenant rate catalog to generate a hierarchical estimate with up to 8 summary line items. Performs a duplicate-active-estimate check on the client (409 unless force=true). Supports ?dryRun=true for conversational preview. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be response but does NOT persist or audit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "clientId",
                "name",
                "narrative"
              ],
              "properties": {
                "clientId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "SCDP client UUID"
                },
                "name": {
                  "type": "string",
                  "description": "Estimate name"
                },
                "narrative": {
                  "type": "string",
                  "description": "Free-text project description (10-50 000 chars)"
                },
                "clientName": {
                  "type": "string",
                  "description": "Override for the client name sent to the AI"
                },
                "constraints": {
                  "type": "string",
                  "description": "Budget, timeline, or technology constraints"
                },
                "projectId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Optional project to attach to"
                },
                "validDays": {
                  "type": "integer",
                  "description": "Days until the estimate expires"
                },
                "force": {
                  "type": "boolean",
                  "description": "Skip the duplicate estimate check"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Estimate created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "description": "Persisted estimate record"
                },
                "created": {
                  "type": "boolean"
                },
                "existingEstimates": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "forced": {
                  "type": "boolean"
                },
                "summary": {
                  "type": "object"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Active estimate(s) already exist for the client (duplicates returned in existingEstimates)"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/estimates/block-hours": {
      "post": {
        "operationId": "CreateEstimateBlockHours",
        "summary": "Create block-hours estimate (single blended rate)",
        "description": "Creates a single-line-item estimate using the resolved billing rate for the named role from the tenant rate catalog. Suitable for quick T&M engagements. Supports ?dryRun=true. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be response but does NOT persist or audit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "clientId",
                "name",
                "roleName",
                "hours"
              ],
              "properties": {
                "clientId": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "roleName": {
                  "type": "string",
                  "description": "Role name from the tenant rate catalog"
                },
                "hours": {
                  "type": "number",
                  "description": "Total block hours"
                },
                "description": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "format": "uuid"
                },
                "validDays": {
                  "type": "integer"
                },
                "force": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Estimate created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                },
                "created": {
                  "type": "boolean"
                },
                "summary": {
                  "type": "object"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Active estimate(s) already exist for the client"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/estimates/fixed-price": {
      "post": {
        "operationId": "CreateEstimateFixedPrice",
        "summary": "Create fixed-price estimate (one line per phase)",
        "description": "Creates a fixed-price estimate with one epic per phase. Each phase has a name and a fixed fee amount; hours are set to 1 and rate equals the phase price. Supports ?dryRun=true. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be response but does NOT persist or audit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "clientId",
                "name",
                "phases"
              ],
              "properties": {
                "clientId": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "phases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "price"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                },
                "projectId": {
                  "type": "string",
                  "format": "uuid"
                },
                "validDays": {
                  "type": "integer"
                },
                "force": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Estimate created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                },
                "created": {
                  "type": "boolean"
                },
                "summary": {
                  "type": "object"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Active estimate(s) already exist for the client"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/hubspot/search": {
      "get": {
        "operationId": "HubSpotSearch",
        "summary": "Search HubSpot companies or deals",
        "description": "Searches the connected HubSpot CRM for companies or deals matching the query. Returns up to 20 results. Requires HubSpot to be connected in tenant settings. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Object type to search: company or deal",
            "enum": [
              "company",
              "deal"
            ]
          },
          {
            "name": "query",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Search string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "type": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "424": {
            "description": "HubSpot not connected for this tenant"
          }
        }
      }
    },
    "/v1/clients/{clientId}/hubspot-link": {
      "post": {
        "operationId": "LinkClientToHubSpot",
        "summary": "Link SCDP client to a HubSpot company or deal",
        "description": "Writes a crm_object_mappings row linking the client to a HubSpot object. If createIfMissing=true and no hubspotObjectId is provided, creates the HubSpot company or deal first. Supports ?dryRun=true. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be response but does NOT persist or audit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "hubspotObjectType"
              ],
              "properties": {
                "hubspotObjectType": {
                  "type": "string",
                  "enum": [
                    "company",
                    "deal"
                  ]
                },
                "hubspotObjectId": {
                  "type": "string",
                  "description": "Existing HubSpot object ID"
                },
                "createIfMissing": {
                  "type": "boolean",
                  "description": "Create a new HubSpot record if no ID given"
                },
                "companyName": {
                  "type": "string"
                },
                "dealName": {
                  "type": "string"
                },
                "dealAmount": {
                  "type": "string"
                },
                "dealStage": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Mapping created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                },
                "created": {
                  "type": "boolean"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "424": {
            "description": "HubSpot not connected for this tenant"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/clients/{clientId}/teams-link": {
      "post": {
        "operationId": "LinkClientToTeams",
        "summary": "Link SCDP client to a Microsoft Teams team",
        "description": "Ensures a client_teams row exists. If createIfMissing=true and no teamId is provided, creates a new Microsoft Teams team via the Graph API. Returns alreadyLinked=true if the client was already linked. Supports ?dryRun=true. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be response but does NOT persist or audit."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "teamId": {
                  "type": "string",
                  "description": "Existing Microsoft Teams team ID (GUID)"
                },
                "createIfMissing": {
                  "type": "boolean",
                  "description": "Create a new team if teamId is not provided"
                },
                "teamName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Team link created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                },
                "created": {
                  "type": "boolean"
                },
                "alreadyLinked": {
                  "type": "boolean"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "424": {
            "description": "Teams Graph integration not configured"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/v1/projects/{projectId}/teams-channel": {
      "post": {
        "operationId": "CreateProjectTeamsChannel",
        "summary": "Create a Microsoft Teams channel for a project",
        "description": "Creates a channel in the Teams team associated with the project's client (resolved via client_teams) or the provided teamId. Writes a project_channels row. Returns alreadyLinked=true if the project already has a channel. Partial-failure envelope: warnings[] is populated if non-critical errors occurred. Supports ?dryRun=true. Requires admin, pm, or portfolio-manager role.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Client-supplied UUID or opaque token. Replays with the same key return the cached response."
          },
          {
            "name": "dryRun",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "If true, validates and returns the would-be response but does NOT persist or audit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "channelName"
              ],
              "properties": {
                "channelName": {
                  "type": "string",
                  "description": "Channel display name (max 50 chars)"
                },
                "teamId": {
                  "type": "string",
                  "description": "Override: explicit Teams team GUID"
                },
                "description": {
                  "type": "string"
                },
                "membershipType": {
                  "type": "string",
                  "enum": [
                    "standard",
                    "private",
                    "shared"
                  ],
                  "default": "standard"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Channel created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                },
                "created": {
                  "type": "boolean"
                },
                "alreadyLinked": {
                  "type": "boolean"
                },
                "idempotent": {
                  "type": "boolean"
                },
                "auditId": {
                  "type": "string"
                },
                "correlationId": {
                  "type": "string"
                },
                "dryRun": {
                  "type": "boolean"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "424": {
            "description": "Teams Graph integration not configured"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
      "scopes": {
        "api://198aa0a6-d2ed-4f35-b41b-b6f6778a30d6/access_as_user": "Access Constellation MCP as signed-in user"
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "api://198aa0a6-d2ed-4f35-b41b-b6f6778a30d6/access_as_user"
      ]
    }
  ]
}
